<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="div-container">
        <div class="box">
                <h1>Fill the form</h1>
                {% if error %}
                <label style="color: aqua; text-align: center;">Result: {{error}}</label>
                {% endif %}
                <form action="/predict" method="POST">
                    <label for="id">person_age:</label><br>
                    <input type="number" class="custom-input" name="person_age"><br><br>
                   
                    <label for="person_gender">person_gender:</label><br>
                        <select class="custom-selection" name="person_gender">
                            <option value=0>Female</option>
                            <option value=1>Male</option>
                        </select><br><br>

                    <label for="person_education">person_education:</label><br>
                    <select class="custom-selection" name="person_education">
                        <option value=0>Rent</option>
                        <option value=1>Own</option>
                        <option value=2>Mortage</option>
                        <option value=3>Other</option>
                    </select><br><br>

                    <label for="person_income">person_income:</label><br>
                    <input type="number" class="custom-input" name="person_income" ><br><br>

                    <label for="person_emp_exp">person_emp_exp:</label><br>
                    <input type="number" class="custom-input" name="person_emp_exp" placeholder="0-100"><br><br>

                    <label for="person_home_ownership">person_home_ownership:</label><br>
                    <select class="custom-selection" name="person_home_ownership">
                        <option value=0>Bachelor</option>
                        <option value=1>High School</option>
                        <option value=2>Associate</option>
                        <option value=3>Master</option>
                        <option value=4>Doctorate</option>
                    </select><br><br>

                    <label for="loan_amnt">loan_amnt:</label><br>
                    <input type="number" class="custom-input" name="loan_amnt" placeholder="0-00"><br><br>

                    <label for="loan_intent">loan_intent:</label><br>
                    <select class="custom-selection" name="loan_intent">
                        <option value=0>Personal</option>
                        <option value=1>Education</option>
                        <option value=2>Medical</option>
                        <option value=3>Venture</option>
                        <option value=4>Home Improvement</option>
                        <option value=5>Debt Consolidation</option>
                    </select><br><br>
                    
                    <label for="loan_int_rate">loan_int_rate:</label><br>
                    <input type="number" class="custom-input" name="loan_int_rate" step="0.0001" min="0" max="100" placeholder="0-5"><br><br>

                    <label for="loan_percent_income">loan_percent_income:</label><br>
                    <input type="number" class="custom-input" name="loan_percent_income" step="0.0001" min="0" max="100" placeholder="0-5"><br><br>



                    <label for="cb_person_cred_hist_length">cb_person_cred_hist_length:</label><br>
                    <input type="number" class="custom-input" name="cb_person_cred_hist_length"><br><br>

                    <label for="credit_score">credit_score:</label><br>
                    <input type="number" class="custom-input" name="credit_score" placeholder="0-100"><br><br>

                    <label for="previous_loan_defaults_on_file">previous_loan_defaults_on_file:</label><br>
                        <select class="custom-selection" name="previous_loan_defaults_on_file">
                            <option value=0>NO</option>
                            <option value=1>Yes</option>
                        </select><br><br>
                    <button type="submit">submit</button>
               </form>
                
        </div>
    </div>
                
</body>
</html>